
*.obj
*.ipch
*.pdb
*.tlog
*.log
.vs/gbe-plus/v16/.suo
.vs/gbe-plus/v16/Browse.VC.db
.vs/gbe-plus/v16/Browse.VC.db-shm
.vs/gbe-plus/v16/Browse.VC.db-wal
.vs/gbe-plus/v16/Browse.VC.opendb
Debug/gbe-plus.vcxproj.FileListAbsolute.txt
x64/Debug/vc142.idb
*.dll
Debug/gbe-plus.ilk
Debug/gbe-plus.exe.recipe
Debug/gbe-plus.exe
src/qt/moc_cgfx.cpp
src/qt/moc_cheat_menu.cpp
src/qt/moc_con_ir_menu.cpp
src/qt/moc_data_dialog.cpp
src/qt/moc_debug_dmg.cpp
src/qt/moc_general_settings.cpp
src/qt/moc_magic_reader_menu.cpp
src/qt/moc_main_menu.cpp
src/qt/moc_mpos_menu.cpp
src/qt/moc_mw_menu.cpp
src/qt/moc_pp2_menu.cpp
src/qt/moc_ps_menu.cpp
src/qt/moc_rtc_menu.cpp
src/qt/moc_screens.cpp
src/qt/moc_tbf_menu.cpp
src/qt/moc_utp_menu.cpp
src/qt/moc_zzh_menu.cpp
src/qt/moc_cgfx.cpp
src/qt/moc_cheat_menu.cpp
src/qt/moc_con_ir_menu.cpp
src/qt/moc_data_dialog.cpp
src/qt/moc_debug_dmg.cpp
src/qt/moc_general_settings.cpp
src/qt/moc_magic_reader_menu.cpp
src/qt/moc_main_menu.cpp
src/qt/moc_mpos_menu.cpp
src/qt/moc_mw_menu.cpp
src/qt/moc_pp2_menu.cpp
src/qt/moc_ps_menu.cpp
src/qt/moc_rtc_menu.cpp
src/qt/moc_screens.cpp
src/qt/moc_tbf_menu.cpp
src/qt/moc_utp_menu.cpp
src/qt/moc_zzh_menu.cpp
*.exe
*.idb
*.ilk
*.recipe
x64/Release/gbe-plus.vcxproj.FileListAbsolute.txt
x64/Debug/gbe-plus.vcxproj.FileListAbsolute.txt
Win32/Release/gbe-plus.vcxproj.FileListAbsolute.txt
Win32/Debug/gbe-plus.vcxproj.FileListAbsolute.txt
Win32/Release/README.md
Win32/Debug/LICENSE
Win32/Debug/README.md
Win32/Release/LICENSE
.vs/gbe-plus/v15/Browse.VC.db
.vs/gbe-plus/v15/.suo
.vs/gbe-plus/v15/Browse.VC.opendb
*.ruleset
*.sarif
Win32/Release/src/dmg/z80.nativecodeanalysis.xml
Win32/Release/src/dmg/mmu.nativecodeanalysis.xml
Win32/Release/src/dmg/lcd.nativecodeanalysis.xml
Win32/Release/src/dmg/gamepad.nativecodeanalysis.xml
Win32/Release/src/dmg/core.nativecodeanalysis.xml
Win32/Release/src/dmg/apu.nativecodeanalysis.xml
Win32/Release/CodeAnalysisResultManifest.txt
.vs/gbe-plus/FileContentIndex/98dc21ac-a67b-4640-b5a4-0bf68b4dbc97.vsidx
.vs/gbe-plus/v17/.suo
.vs/gbe-plus/v17/Browse.VC.db
.vs/gbe-plus/v17/DocumentLayout.backup.json
.vs/gbe-plus/v17/DocumentLayout.json
.vs/gbe-plus/v17/fileList.bin
.vs/gbe-plus/v17/ResourceExplorer/settings.json
.vs/gbe-plus/v17/Solution.VC.db
